<section id="form-section" class="contact-page-section">
  <h3 class="form-heading">How can we help?</h3>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-fields">
      <div class="form-group" id="name-group">
        <label for="name-input" id="name-label"
          >Name<span class="required-field">*</span></label
        >
        <input type="text" name="name" id="name-input" formControlName="name" />
        <span
          class="required-field-message"
          *ngIf="(!name?.valid && name?.touched) || formInvalid"
          >This field is required.</span
        >
      </div>
      <div class="form-group" id="email-group">
        <label for="email-input"
          >Email<span class="required-field">*</span></label
        >
        <input
          type="text"
          name="email"
          id="email-input"
          formControlName="email"
        />
        <span
          class="required-field-message"
          *ngIf="(email?.errors?.['required'] && email?.touched) || formInvalid"
          >This field is required.</span
        >
        <span
          class="required-field-message"
          *ngIf="(email?.errors?.['email'] && email?.touched) || formInvalid"
          >Please enter a valid email address.</span
        >
      </div>

      <div class="form-group" id="phone-group">
        <label for="phone-input"
          >Phone Number<span class="required-field">*</span></label
        >
        <input
          type="text"
          name="phone"
          id="phone-input"
          formControlName="phoneNumber"
        />
        <span
          class="required-field-message"
          *ngIf="(!phoneNumber?.valid && phoneNumber?.touched) || formInvalid"
          >This field is required.</span
        >
      </div>
      <div class="form-group" id="company-name-group">
        <label for="company-name-input"
          >Company Name<span class="required-field">*</span></label
        >
        <input
          type="text"
          name="company-name"
          id="company-name-input"
          formControlName="companyName"
        />
        <span
          class="required-field-message"
          *ngIf="(!companyName?.valid && companyName?.touched) || formInvalid"
          >This field is required.</span
        >
      </div>
      <div class="form-group" id="business-type-group">
        <label for="business-type-input">Type of Business</label>
        <input
          type="text"
          name="business-type"
          id="business-type-input"
          formControlName="businessType"
        />
      </div>
    </div>

    <button class="btn btn-submit" type="submit">Get in touch</button>
  </form>
</section>
