main {
  height: 100%;
  color: var(--color-gray-900);
}

.page-container {
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: min(3rem, 5%);
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .page-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4rem;
    max-width: 80%;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    max-width: 100%;
    min-height: 100%;
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .page-container {
    min-height: 100%;
  }
}
